.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* בקובץ App.css */
body {
  background-image: url('../public/images/background.jpg'); /* נתיב לתמונת הרקע */
  background-size: cover; /* שמירה על היחסי גובה-רוחב של התמונה */
  background-position: center; /* מיקום התמונה באמצע הדף */
  background-repeat: no-repeat; /* מניעת חזרה של התמונה */

  flex-grow: 1; /* גדל ככל האפשר */
  flex-basis: 0; /* לא יקצה שטח מינימלי */
}
