#map {
   
    float: right;
    margin-top: 10vb;
    margin-right: 5vb;
    height: '50vh' !important;
    width: '50%' !important;
}
#map button{
    width: 4vw !important;
}
 /* overflow: visible !important;
    */